@import "tailwindcss";
@config "../tailwind.config.js";

:root {
  --moderate-blue: hsl(238, 40%, 52%);

  --phone: "375px";
  --bigPhone: "475px";
  --tablet: "650px";
}

@font-face {
  font-family: "Rubik";
  font-weight: 400;
  src: local("Rubik Light"), url("/fonts/Rubik-Light.woff2") format("woff2"),
    url("./fonts/Rubik-Light.woff") format("woff");
}
@font-face {
  font-family: "Rubik";
  font-weight: 500;
  src: local("Rubik Regular"),
    url("./fonts/Rubik-Regular.woff2") format("woff2"),
    url("./fonts/Rubik-Regular.woff") format("woff");
}
@font-face {
  font-family: "Rubik";
  font-weight: 700;
  src: local("Rubik Bold"), url("./fonts/Rubik-Bold.woff2") format("woff2"),
    url("./fonts/Rubik-Bold.woff") format("woff");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  background-color: hsl(223, 19%, 93%);
}

@media screen and (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

@media (width > 650px) {
  .floating-btn {
    position: fixed;
    right: 1%;
    z-index: 50;
    display: grid;
    place-items: center;
    border-radius: 0.5rem; /* rounded-lg */
    color: white;
    background-color: var(--moderate-blue);
    padding-left: 0.75rem; /* px-3 */
    padding-right: 0.75rem;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 1.25rem; /* text-xl */
    font-weight: 500; /* font-medium */
    text-transform: uppercase;
    color: white;
    transition: all 0.3s ease-in-out;
  }

  .floating-btn:hover,
  .floating-btn:focus-visible {
    opacity: 0.5;
  }

  .floating-btn:focus-visible {
    outline: 1px solid var(--moderate-blue);
    outline-offset: 2px;
  }

  .floating-btn.reached-bottom {
    bottom: -40px;
  }

  .floating-btn.not-reached-bottom {
    bottom: 21.7%;
  }
}
